apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  {% if annotations != None %}
  annotations:
    {% for annotation in annotations %}
    {{ annotation.name }}: "{{ annotation.value }}"
    {% endfor %}
  {% endif %}

spec:
  type: {{ type }}
  selector:
    app: {{ app }}
  ports:
    - name: {{ portname }}
      protocol: TCP
      port: {{ port }}
